* {
    box-sizing: border-box;
}
.row {
    width: 100%;
}
.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}



.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

.header{
    background-color: black;
    color: white;
    
}

.header nav{
    display: flex;
    flex-direction: row;
    padding: .5em;
    margin-left: 1em;
    justify-content: flex-start;
}

.header h2{
    width: 50%;
}

.header a{
    color:white;
    text-decoration: none;
}

.header ul{
    
    display: flex;
    font-size: x-large;
    /*justify-content: flex-end;*/
    list-style-type: none;
    width: 50%;
    
}

.header li{
    padding: .3em;
}

.main{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.two{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.two img{
    align-content: flex-start;
    width: fit-content;
}

.two h2{
    align-content: flex-end;
}

.two p{
    
}